<!DOCTYPE html>
<html>
<head>
    <title>BDTT</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- D3 -->
    <script src="/bower_components/d3/d3.min.js"></script>
    <!-- D3 Hierarchy -->
    <script src="/node_modules/d3-hierarchy/build/d3-hierarchy.min.js"></script>

</head>

<body>
    <div class="col-lg-12" id="svg"></div>
</body>

</html>
<script src="js/home_index.js"></script>
