<!DOCTYPE html>
<html>
<head>
    <title>BDTT</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- D3 -->
    <script src="/bower_components/d3/d3.min.js"></script>
    <!-- D3 Hierarchy -->
    <script src="/node_modules/d3-hierarchy/build/d3-hierarchy.min.js"></script>
    <script src="/js/home_index_chung.js"></script>
    <style>
        .node text {
          font: 10px sans-serif;
          text-anchor: middle;
        }

        circle:hover {
            stroke: #000;
            stroke-width: 1.2px;
        }
        
        rect {
            stroke: white;
            stroke-width: 1.5px;
        }

        rect:hover {
            fill-opacity: 0.85;
        }
        
        text tspan {
            font: 15px sans-serif;
        }
    </style>
</head>

<body>
    <div class="col-md-12">
    <div class = "col-md-3">
        <div class="form-group">
  <label for="sel1">Chọn nhóm thuộc tính đầu tiên:</label>
  <select class="form-control" id="sel1" onchange="selectattribute1(this)">
    <option value="customer">Nhóm thông tin khách hàng</option>
    <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
    <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>   
  </select>
  <label for="sel11">Chọn thuộc tính đầu tiên:</label>
  <select class="form-control" id="child1">   
  </select>
</div>
</div>
    <div class = "col-md-3">
        <div class="form-group">
  <label for="sel2">Chọn nhóm thuộc tính thứ 2:</label>
  <select class="form-control" id="sel2" onchange="selectattribute2(this)">
    <option value="customer">Nhóm thông tin khách hàng</option>
    <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
    <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>   
  </select>
  <label for="sel21">Chọn thuộc tính thứ 2:</label>
  <select class="form-control" id="child2">   
  </select>
</div>

    </div>
    <div class = "col-md-3">
        <div class="form-group">
  <label for="sel3"">Chọn nhóm thuộc tính thứ 3:</label>
  <select class="form-control" id="sel3" onchange="selectattribute3(this)">
    <option value="customer">Nhóm thông tin khách hàng</option>
    <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
    <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>   
  </select>
  <label for="sel1">Chọn thuộc tính thứ 3:</label>
<select class="form-control" id="child3">   
  </select>
</div>
</div>
<div class = "col-md-3">
        <div class="form-group">
  <label for="sel4">Chọn nhóm thuộc tính thứ 4:</label>
  <select class="form-control" id="sel4" onchange="selectattribute4(this)">
    <option value="customer">Nhóm thông tin khách hàng</option>
    <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
    <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>   
  </select>
  <label for="sel1">Chọn thuộc tính thứ 4:</label>
  <select class="form-control" id="child4">   
  </select>
</div>
    </div>
    <br />
    <div class="container-fluid">
        <button type="button" class="btn btn-primary" onclick="treemap3('marital', 'education', 'job', 'no')" id="treemap">Treemap</button>
        <button type="button" class="btn btn-default" onclick="circlePacking3('marital', 'education', 'job', 'yes')" id="circlePacking">Circle Packing</button>    
    </div>
    <br />
    <div class="col-lg-12" id="svg" style="text-align:center;"></div>
</body>

</html>
<script src="js/home_index_chung.js"></script>
<script src="js/home_index_3.js"></script>
<script src="js/home_index_4.js"></script>