<!DOCTYPE html>
<html>

<head>
    <title>BDTT</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- D3 -->
    <script src="/bower_components/d3/d3.min.js"></script>
    <!-- D3 Hierarchy -->
    <script src="/node_modules/d3-hierarchy/build/d3-hierarchy.min.js"></script>
    <script src="/js/home_index_chung.js"></script>
    <script src="js/home_index_3.js"></script>
    <script src="js/home_index_4.js"></script>
    <style>
    .node text {
        font: 10px sans-serif;
        text-anchor: middle;
    }

    circle:hover {
        stroke: #000;
        stroke-width: 1.2px;
    }

    rect {
        stroke: white;
        stroke-width: 1.5px;
    }

    rect:hover {
        fill-opacity: 0.9;
    }

    text tspan {
        font: 15px sans-serif;
    }
    </style>
</head>

<body>
    <br />
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="sel1">Chọn nhóm thuộc tính đầu tiên:</label>
                    <select class="form-control" id="sel1" onchange="selectattribute1(this)">
                        <option hidden></option>
                        <option value="customer">Nhóm thông tin khách hàng</option>
                        <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
                        <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>
                    </select>
                    <label for="sel11">Chọn thuộc tính đầu tiên:</label>
                    <select class="form-control" id="child1">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="sel2">Chọn nhóm thuộc tính thứ 2:</label>
                    <select class="form-control" id="sel2" onchange="selectattribute2(this)">
                        <option hidden></option>
                        <option value="customer">Nhóm thông tin khách hàng</option>
                        <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
                        <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>
                    </select>
                    <label for="sel21">Chọn thuộc tính thứ 2:</label>
                    <select class="form-control" id="child2">
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="sel3" ">Chọn nhóm thuộc tính thứ 3:</label>
                    <select class="form-control " id="sel3 " onchange="selectattribute3(this) ">
                        <option hidden></option>
                        <option value="customer">Nhóm thông tin khách hàng</option>
                        <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
                        <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>   
                    </select>
                    <label for="sel1">Chọn thuộc tính thứ 3:</label>
                    <select class="form-control" id="child3">   
                    </select>
                </div>
            </div>
            <div class = "col-md-3">
                <div class="form-group">
                    <label for="sel4">Chọn nhóm thuộc tính thứ 4:</label>
                    <select class="form-control" id="sel4" onchange="selectattribute4(this)">
                        <option hidden></option>
                        <option value="customer">Nhóm thông tin khách hàng</option>
                        <option value="campaign">Nhóm thông tin liên quan đến chiến dịch</option>
                        <option value="social">Nhóm thông tin liên quan đến kinh tế - xã hội</option>   
                    </select>
                    <label for="sel1">Chọn thuộc tính thứ 4:</label>
                    <select class="form-control" id="child4">   
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form id="ageGroup" class="form-inline">
                    <div class="form-group">
                        <label>Độ dài cuộc gọi: </label><br />
                        Từ <input type="number" id="duration1From" class="form-control" value="0">
                        Đến <input type="number" id="duration1To" class="form-control" value="100"><br />
                        Từ <input type="number" id="duration2From" class="form-control" value="101">
                        Đến <input type="number" id="duration2To" class="form-control" value="300"><br />
                        Từ <input type="number" id="duration3From" class="form-control" value="301">
                        Đến <input type="number" id="duration3To" class="form-control" value="700"><br />
                        Từ <input type="number" id="duration4From" class="form-control" value="701">
                        Đến <input type="number" id="duration4To" class="form-control" value="10000"><br />
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form id="ageGroup" class="form-inline">
                    <div class="form-group">
                        <label>Nhóm tuổi: </label><br />
                        <label>Nhóm 1: </label>
                        Từ <input type="number" id="ageGroup1From" class="form-control" value="0">
                        Đến <input type="number" id="ageGroup1To" class="form-control" value="14"><br />
                        <label>Nhóm 2: </label>
                        Từ <input type="number" id="ageGroup2From" class="form-control" value="15">
                        Đến <input type="number" id="ageGroup2To" class="form-control" value="34"><br />
                        <label>Nhóm 3: </label>
                        Từ <input type="number" id="ageGroup3From" class="form-control" value="35">
                        Đến <input type="number" id="ageGroup3To" class="form-control" value="59"><br />
                        <label>Nhóm 4: </label>
                        Từ <input type="number" id="ageGroup4From" class="form-control" value="60">
                        Đến <input type="number" id="ageGroup4To" class="form-control" value="150"><br />
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Chọn yes hoặc no: </label>
                <input type="radio" name="y" id="yes" value="yes" checked>yes  
                <input type="radio" name="y" id="blue" value="no">no
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">   
                <button type="button" class="btn btn-default" id="treemap3">Treemap 3</button>
                <button type="button" class="btn btn-default" id="circlePacking3">Circle Packing 3</button>    
                <button type="button" class="btn btn-default" id="treemap4">Treemap 4</button>
                <button type="button" class="btn btn-default" id="circlePacking4">Circle Packing 4</button>  
            </div> 
        </div>
    </div>
    <br />
    <div class="col-lg-12" id="svg" style="text-align:center;"></div>
<h4>CHÚ THÍCH:</h4>
    <div class="col-md-12" style="color: red; font-family:verdana;">
      <div class="col-md-3">
        <ul>
          <li>Marital: tình trạng hôn nhân</li>
    <li>Default: tình trạng tín dụng</li>
    <li>Housing: tình trạng vay nhà ở</li>
   <li> Loan: tình trạng vay cá nhân</li>
    <li>Contact: cách thức liên hệ</li>
   <li> Month: tháng liên hệ lần cuối trong năm</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
         
    <li>Day_of_week: ngày liên hệ lần cuối</li>
    <li>Duration: thời lượng liên lạc cuối</li>
    <li>Campaign: số lần liên hệ với khách hàng</li>
    <li>Pdays: số ngày trôi qua so với lần liên lạc cuối </li>
     <li>Previous: số lần liên hệ với khách hàng trong chiến dịch trước</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
      
    <li>Poutcome: kết quả của chiến dịch trước</li>
    <li>Emp.var.rate: biến thiên tỷ lệ những người có việc làm , tính theo quý</li>
     <li>Cons.price.idx: Chỉ số giá tiêu dùng (CPI)</li>
     <li>Cons.conf.idx: là chỉ số đo niềm tin của người tiêu dùng trong một nền kinh tế</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul>
    <li>Euribor3m: euribor lãi suất liên ngân hàng châu âu có kỳ hạn 3 tháng</li>
    <li>Nr.employed: số lượng người trong độ tuổi lao động có việc làm, tính theo quý</li>
    </ul>
  </div>
    </div>
</body>

</html>